## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Jalingo,NG,72.00,broken clouds,8.8833,11.3667,Debright Motel
1,7,Touros,BR,79.70,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
2,8,Mamallapuram,IN,78.85,scattered clouds,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram
3,11,Kirakira,SB,82.99,overcast clouds,-10.4544,161.9205,SanBiz Lodge
4,13,Bubaque,GW,77.22,clear sky,11.2833,-15.8333,"Casa Dora, Bubaque"

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Hotel Name"] == 'Bluff Homestead - Guesthouse & Campervan Park')]
vacation_end = vacation_df.loc[(vacation_df["Hotel Name"] == 'Bluff Homestead - Guesthouse & Campervan Park')]
vacation_stop1 = vacation_df.loc[(vacation_df["Hotel Name"] == "Ellie's Villa")]
vacation_stop2 = vacation_df.loc[(vacation_df["Hotel Name"] == 'Kingsgate Hotel Te Anau')] 
vacation_stop3 = vacation_df.loc[(vacation_df["Hotel Name"] == "Ron and Tony's Bed & Breakfast")]

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7]
end = vacation_end.iloc[0,5:7]
stop1= vacation_stop1.iloc[0,5:7]
stop2=vacation_stop2.iloc[0,5:7]
stop3= vacation_stop3.iloc[0,5:7]

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
trip_stops= gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(trip_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,63,Bluff,NZ,73.80,scattered clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
1,64,Mataura,NZ,73.47,few clouds,-46.1927,168.8643,Ellie's Villa
2,500,Te Anau,NZ,74.35,clear sky,-45.4167,167.7167,Kingsgate Hotel Te Anau
3,65,Tuatapere,NZ,73.81,scattered clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
4,63,Bluff,NZ,73.80,scattered clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
description= vacation_df["Current Description"]
fig= gmaps.figure(center=(40,3),zoom_level= 0)
heat_layer=gmaps.heatmap_layer(locations, dissipating= False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))